{% extends 'base.html' %}
{% load static %}


{% block title%}Biken || Registro{% endblock %}


{% block content%}

<br>
<div class="container mt-5">

    <div class="row">

        {% load crispy_forms_tags %}
        <div class="col-lg-4">
            <form method="POST">
                {% csrf_token %}
                <div class="p-2 mb-3 bgnav text-white text-center">REGISTRO</div>
                {{ Form | crispy}}

                <button type="submitj" class="btn btn-primary bgnav ml-5">Aceptar</button>
                <button type="reset" class="btn btn-secondary ml-5">Limpiar</button>

            </form>
        </div>
        <div class="col-lg-8">
            <img src='{% static "/img/svg/bike2.svg" %}'>
        </div>
    </div>
</div>



{% endblock %}