<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../arch/jquery-3.5.0.js" type="text/javascript"></script>
        <link href="../arch/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        <link href="../css/all.css" rel="stylesheet" type="text/css"/>
        <link href="../css/misestilos.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../css/mis_estilos.css">
        <link rel="icon" href="../img/svg/icono.png">
        <title>Biken || Sube tu Bicicleta</title>
    </head>
    <body>
      <div class="loader-page"></div>

    <nav class="navbar navbar-expand-md bg-nav1 fixed-top">

                <a class="navbar-brand" href="../pages/estadisticasComunidad.html">
                    <img src="../img/svg/icono2.png" alt="logo" style="width:40px;">
                </a>

                <span class="title-manager"> Comunity Manager </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <i class="fas fa-bars collapse1"></i>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link contact1" href="estadisticasComunidad.html"> inicio <i class="fas fa-chart-line"></i></a>
                        </li>
                    </ul>
                </div>

                
                <a class="user2" data-toggle="modal" data-target="#Menuuser1" data-toggle="tooltip" title="Cuenta">
                    <img src="../img/svg/user2.svg" alt="logo" style="width:30px;">
                </a>
            </nav>

               <div class="modal fade" id="Menuuser1">
                    <div class="modal-dialog float-right">
                        <div class="modal-content bg-menuuser user-content ">
                            <a href="#" class="card-header item-user">
                                <i class="fas fa-user icon2"></i> Ver tu perfil
                            </a>
                            <a href="#borrar.html" class="card-body item-user">
                                <i class="fas fa-cog icon2"></i> Configuración
                            </a>
                            <a href="comunidad.html" class="card-footer item-user">
                                <i class="fas fa-sign-out-alt icon2 iconf"></i> Cerrar Sesion
                            </a>
                        </div>
                    </div>
                </div>
    <br>

  
<center><center>
<div class="container container-flex"> 
<br>
<div class="col-md-9">
<img src="../img/portacon.png" height="120px" width="260px" align="right">
<br>
<br>
<br>
<center><strong><div style="font-size: 28px; font-family:cursive; text-align: center; color :rgb(23, 75, 193 )"> ANUNCIA TU BICICLETA</div>
</strong></center>
<br>
<br>
<div style="text-align: center;">Selecciona las características de tu bicicleta, añade una foto y establece la tarifa deseada. Una vez hecho esto, tu bici estarà disponible para ser alquilada.</div>

<hr size="1px" color="gray" />
<br>
<form class="container" action="Message2.html">

    <div class="form-row">
    <div class="col-md-4 mb-3">
      <strong><label for="validationDefault01">Modelo:</label></strong>
      <select class="custom-select" id="validationDefault04" required>
        <option selected disabled value="">---</option>
        <option> Ruta </option>
        <option> Montaña</option>
        <option> BMX</option>
        <option> Plegable</option>
        <option> Urbana    </option>
        <option> Para niños</option>


      </select>
    </div>


    <div class="col-md-4 mb-3">
      <strong><label for="validationDefault02">Material:</label></strong>
      <select class="custom-select" id="validationDefault04" required>
        <option selected disabled value="">---</option>
        <option> Aluminio</option>
        <option> Acero</option>
        <option> Titanio</option>
        <option> Polonio</option> 
      </select>
    </div>
    <div class="col-md-4 mb-3">
     <strong><label for="validationDefaultUsername">Color:</label></strong>
      <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
     <strong> <label for="validationDefault03">Valor Alquiler:</label></strong>
      <input type="number"class="form-control" id="validationDefault03"required>
</div>


    <div class="col-md-4 mb-3">
     <strong> <label for="validationDefault04">Bici Electrica:</label></strong>
      <select class="custom-select" id="validationDefault04" required>
        <option selected disabled value="">---</option>
        <option>Si</option>
        <option>No</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
     <strong> <label for="validationDefault03">Cantidad de bicicletas:</label></strong>
      <input type="number"class="form-control" id="validationDefault05"required>
</div>


<strong><label for=>&nbsp&nbspSubir tu bici:</label></strong>
<div class="custom-file">
    <input type="file" class="custom-file-input"required="required" autocomplete="text" id="customFile">
    <label class="custom-file-label" for="inputGroupFile01" for="customFile">Subir img bicicleta</label>
  </div>
</div>

<br>
<br>
<br>


<button type="submit" class="btn btn-primary">Subir datos</button>

</form>

<div class="img-ruedas">
<img src="../img/fotorueda.png" height="110px" width="240px" align="left">
</div>
<br>
<br>
<br><br>


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../arch/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/sweetalert/sweetalert2.js"></script>


    </body>
</html>

